@{
    ViewBag.Title = "About";
}
<h2>About our College</h2>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at justo sit amet urna scelerisque sollicitudin. Nam mattis arcu id feugiat varius. Phasellus porttitor velit ut diam egestas, sed vestibulum ipsum mollis. Nam fringilla auctor porttitor. Nunc dictum turpis tellus, ut venenatis massa blandit nec. Vivamus felis ligula, convallis vel volutpat vestibulum, rutrum eu magna. Phasellus in interdum libero. In ac eros ligula.

    Suspendisse id viverra mi. Sed vehicula lacinia mattis. Aenean ut leo ut enim dignissim volutpat id eget tortor. Nunc tempus finibus ligula vitae convallis. Integer gravida orci sapien, in varius magna consectetur in. Phasellus vestibulum tristique nisl, ut laoreet diam faucibus a. Duis eget erat ligula. Nullam magna sapien, imperdiet vel odio id, rutrum porttitor massa. Suspendisse faucibus dignissim orci in congue. Cras laoreet augue a enim consectetur, vitae consequat urna consectetur. Donec eget sapien ullamcorper, lobortis lacus id, blandit sapien. Duis nisl nunc, mollis eu sodales id, vehicula tincidunt magna. Quisque sed augue vitae dui maximus pulvinar.

    Quisque congue urna id mauris mollis ullamcorper. Vivamus sit amet bibendum augue. Etiam at neque et est pulvinar pharetra sollicitudin id lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit aliquam sapien. In dictum, libero eu commodo pellentesque, odio purus accumsan orci, ut bibendum elit massa id est. Nullam sit amet tortor euismod, luctus lectus tempus, facilisis nulla.

    Phasellus eget congue magna. Aenean lacinia sem a quam venenatis tempus. Aliquam lorem ligula, bibendum vitae euismod ut, facilisis quis sapien. Quisque sit amet tincidunt nisi. In enim leo, gravida id finibus quis, fringilla quis nisl. Cras bibendum lorem vitae mi congue, quis ultricies dolor tincidunt. In ut tincidunt libero. Sed mattis purus ante, at imperdiet lectus consectetur nec. Aliquam efficitur sit amet ante nec pulvinar. Phasellus vel libero tempor, rutrum sem in, tempor ante. Phasellus convallis ante at justo hendrerit, vitae consectetur turpis suscipit. Nulla vitae ultricies purus, gravida tempus erat. Integer tristique ullamcorper sem, quis hendrerit massa molestie at.

    Nam eu magna nec sapien blandit lobortis. Suspendisse bibendum in lorem ac tempor. Proin euismod vel eros nec porta. Mauris ac ex iaculis, blandit ipsum vel, mattis diam. Pellentesque rutrum turpis id leo rhoncus, at convallis ligula consequat. Nam bibendum iaculis lorem, quis elementum tellus pulvinar nec. Nunc ut auctor leo. Nam quis metus eros. Morbi molestie massa nec dapibus blandit. Proin sodales nibh luctus, viverra augue sit amet, venenatis risus. Curabitur interdum, diam porta posuere lobortis, nisl mauris aliquam felis, sit amet fermentum nunc nisl ut leo.
</p>
