@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title </h2>
<h3>Information and Technology College</h3>

<address>
    <br />
    Leicester, LE1 17F<br />
    <abbr title="Phone">P:</abbr>
    0765 997 112
</address>

<address>
    <strong>Recruitment Team Contact: </strong>  <a href="mailto:itc@itc.ac.uk"> itc@itc.ac.uk </a>   <br />
    <strong>Principal:</strong> <a href="mailto:johnsmith@example.com">johnsmith@example.com</a>
</address>