@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--<h1>Information and Technology College </h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>-->
    <img src="~/Images/logo.png" style="margin-left:-90px;"/>
    <p><a href="../Courses/Index" class="btn btn-primary btn-lg" style="margin-top:30px">Courses</a> <div style="margin:0 auto;">Click here for more information about our courses.</div></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest news</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum aliquet semper. In condimentum tristique neque eu scelerisque. Suspendisse malesuada molestie neque vel venenatis. Aenean feugiat mauris ut pellentesque ornare. Donec arcu nisl, placerat in dolor suscipit, rutrum convallis erat.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming events</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum aliquet semper. In condimentum tristique neque eu scelerisque.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our library</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum aliquet semper. In condimentum tristique neque eu scelerisque.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>